<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="mobisms_notify_observer_new_order" instance="MobiSms\Notify\Observer\NewOrder"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="mobisms_notify_observer_order_cancelled" instance="MobiSms\Notify\Observer\OrderCancelled"/>
        <observer name="mobisms_notify_observer_order_hold" instance="MobiSms\Notify\Observer\OrderHold"/>
        <observer name="mobisms_notify_observer_order_un_hold" instance="MobiSms\Notify\Observer\OrderUnHold"/>
    </event>
    <event name="sales_order_invoice_pay">
        <observer name="mobisms_notify_observer_invoice_pay" instance="MobiSms\Notify\Observer\InvoicePay"/>
    </event>
    <event name="customer_register_success">
        <observer name="mobisms_notify_observer_register_success" instance="MobiSms\Notify\Observer\Registration"/>
    </event>
	<event name="sales_order_shipment_save_after">
	<observer name="mobisms_notify_observer_shipment_save_after" instance="MobiSms\Notify\Observer\Shipment"/>
	</event>
</config>